@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 6% 97%;
  --foreground: 240 6% 25%;
  --card: 0 0% 100%;
  --card-foreground: 240 6% 25%;
  --default: 240 4.8% 95.9%;
  --default-foreground: 240 6% 25%;
  --primary: 238 57% 64%;
  --primary-foreground: 0 0 98%;
  --danger: 0 72.22% 50.59%;
  --danger-foreground: 0 0% 98%;
  --border: 0 0% 75%;
  --ring: 240 6% 25%;
}

.dark {
  --background: 240 7% 11%;
  --foreground: 60 11% 86%;
  --default: 240 4% 9%;
  --default-foreground: 60 11% 86%;
  --primary: 238 57% 64%;
  --primary-foreground: 60 11% 86%;
  --card: 240 4% 9%;
  --card-foreground: 60 11% 86%;
  --danger: 0 72% 51%;
  --danger-foreground: 0 85.7% 97.3%;
  --border: 0 0% 25%;
  --ring: 60 11% 86%;
}
